header {
	background-color: teal;
	border: 1;
	border-style: outset;
	background-image: url("images/headbg4.jpg");


}

body {
	background-color: #E0EDF9;
}
	
h1 {
	padding-left: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	font-family: font-family: 'Pacifico', cursive;
	font-size: 200%;
	text-align: center;
	color: white;
}

h2 {
    color: #1569C7;
    font-weight: bold;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 150%;
    border-bottom-style: dotted;
    border-bottom-color: #1569C7;
    width: 100%;
}

h4 {
	color: rebeccapurple;
	font-weight: bold;
	font-family: 'Srisakdi', serif;
}

.first {
	font-family: 'Laila', serif;
	font-size:25px;
	color: #1569C7;
	padding-top: .5em
	
}

nav {
	color: #2E1E1E;
	font-family: 'Laila', serif;
	font-size: 100%;
	padding-right: .5em;
	padding-top: 0em;
	padding-bottom: 1em;

}

nav ul {
	text-align: center;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
	padding-bottom: .3em;
	padding-top: .3em;
	font-size: 130%;
	border-style: outset; 
	border-radius: 20%;
	background-color: #D8E4E4;
	width: 175px;
}

a:link {
    font-weight: bold;
    color: #17354a;
}

a:visited {
    color: #3b88bf;
}

nav li:hover {
	background-color: #CDFEAA;
}

#main_container {
	Position: relative;
	margin-left: auto ;
	margin-right: auto ;
	height: 100%; 
	width: 100%;
}


	
article {
	width: 90%;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 2em;
	margin-bottom: 2em;
}

section {
	padding-top: 1em;
	padding-bottom: 1em;
}


.firstInst {
	text-align: center;
	font-family: 'Laila', serif;
	color: #D4D4D4;
	padding-top: .5em;
}

#hiddenWrapper {
	display: none;
}

#showImg:Hover {
	background-color: #CDFEAA;

}

#showImg {
	text-align: center;
	padding: 1em 4em 1em 4em;
	margin-left: 45%;
	margin-right: 45%;
	background-color: #D8E4E4;
	font-weight: bold;
	margin-bottom: 25%;
	border-radius: 40%;
	color: #2E1E1E;
	font-family: 'Laila', serif;
}

#gall1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

#gall2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

#gall3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 4em;
}

.gallimg {
	border: 1;
	border-style: inset;
	margin-left: 20px;
	margin-right: 20px;
	vertical-align: middle;
}


#contactform {
    margin-top: 2em;
    margin-bottom: 10em;
    margin-right: auto;
    margin-left: auto;
    background-color: teal;
    width: 50%;
    padding: 0.5em;
	
}

	
.formfirst {
	font-family: 'Laila', serif;
	color: rebeccapurple;
	text-align: center;
	font-size: 120%;
	padding-top: 5em;
	margin-left: 4em;
	margin-right: 4em;
}

form  { 
	display: table;
	padding-left: 2.5em;
}

fieldset {
	
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: 3em;
    background-color: grey;
    width: 100%;
    padding: 0.5em
}

.lbls { 
	display: table-row;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: .5em;
	padding-top: .5em;
	font-size: 125%;	
}

label { 
	display: table-cell; 
}

input { 
	display: table-cell;
	margin-left: 2em;	
}

textarea {
	display: table;
	margin-left: 2em;
}

input[type="text"],input[type="email"], textarea {
	background-color: ##E5E0CD;
}

.buttonHolder {
	margin: -0 auto;
	text-align: center;
}

.btnTxt {
	padding-top: 1em;
	padding-bottom: 1em;
}

.column h4 {
	text-align: center;
	font-size: 130%;
}

.clmtxt li{
	list-style-type: circle;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: 1em;
	padding-bottom: .5em;
}

.clmtxt {
	font-family: 'Laila', serif;
	color: #teal;
	font-size: 85%;
	text-align: center;
}

.clmtxt2 {
	font-family: 'Laila', serif;
	color: #teal;
	font-size: 85%;
	text-align: Center;
}


Footer {
	position: relative;
	bottom: 0;
	left: 0;
	font-family: 'Laila', serif;
	background-color: #C2DFFF;
	padding-top: .5em;
	padding-bottom: 1em;
	text-align: center;
	color: #2E1E1E;
	font-size: 20px;
	padding-right: 1em;
}


.video { 
	display: block; 
	width: 50%; 
	margin: 0 auto;  
}

.facts {
	font-family: Arial;
	font-size:25px;
	color: #1569C7
	padding-top: .5em;
}

.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
