header {
	background-color: teal;
	border: 1;
	border-style: outset;
	background-image: url("images/headbg4.jpg");


}

body {
	background-color: #E0EDF9;
}
	
h1 {
	padding-left: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	font-family: font-family: 'Pacifico', cursive;
	font-size: 200%;
	text-align: center;
	color: white;
}

h2 {
    color: #1569C7;
    font-weight: bold;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 150%;
    border-bottom-style: dotted;
    border-bottom-color: #1569C7;
    width: 100%;
}

h3 {
	color: #52D017;
	font-weight: bold;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 150%;
}

h4 {
	padding-left: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	font-family: font-family: 'Pacifico', cursive;
	font-size: 150%;
	text-align: center;
	color: white;
}

.first {
	font-family: 'Laila', serif;
	font-size:25px;
	color: #1569C7;
	padding-top: .5em
	
}

nav {
	color: #2E1E1E;
	font-family: 'Laila', serif;
	font-size: 100%;
	padding-right: .5em;
	padding-top: 0em;
	padding-bottom: 1em;

}

nav ul {
	text-align: center;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
	padding-bottom: .3em;
	padding-top: .3em;
	font-size: 130%;
	border-style: outset; 
	border-radius: 20%;
	background-color: #D8E4E4;
	width: 175px;
}

a:link {
    font-weight: bold;
    color: #17354a;
}

a:visited {
    color: #3b88bf;
}

nav li:hover {
	background-color: #CDFEAA;
}

#main_container {
	Position: relative;
	margin-left: auto ;
	margin-right: auto ;
	height: 100%; 
	width: 100%;
}


	
article {
	width: 90%;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 2em;
	margin-bottom: 2em;
}

section {
	padding-top: 1em;
	padding-bottom: 1em;
}

.firstInst {
	text-align: center;
	font-family: 'Laila', serif;
	color: #D4D4D4;
	padding-top: .5em;
}

.column h4 {
	text-align: center;
	font-size: 130%;
}

.clmtxt li{
	list-style-type: circle;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: 1em;
	padding-bottom: .5em;
}

.clmtxt {
	font-family: 'Laila', serif;
	color: #teal;
	font-size: 85%;
	text-align: center;
}

.clmtxt2 {
	font-family: 'Laila', serif;
	color: #teal;
	font-size: 85%;
	text-align: Center;
}

.footer {
	position: relative;
	bottom: 0;
	left: 0;
	font-family: 'Laila', serif;
	background-color: #C2DFFF;
	padding-top: .5em;
	padding-bottom: 1em;
	text-align: center;
	color: #504A4B;
	font-size: 20px;
	padding-right: 1em;
}

.video { 
	display: block; 
	width: 50%; 
	margin: 0 auto;  
}

.facts {
	font-family: 'Laila', serif;
	font-size:25px;
	color: #1569C7
	padding-top: .5em;
}

.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.boxed {
  border: 1px  #1569C7 ;
}  

.stories {
	font-family: 'Laila', serif;
	font-size:20px;
	color: #1569C7;
	padding-top: .5em
	
}
